*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    color: rgb(17, 19, 19);
    overflow-x: hidden;

}

#navbar {

   display: flex;
   justify-content: space-between;
   background : rgb(5,30,70);
   color: blue;
   padding: 1rem 8rem;
   position: sticky;
   top: 0 ;
   z-index: 1 ;
   border-bottom: 10px solid burlywood;
   

}

#navbar li a {

    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3;
}

#about {
    padding: 5rem 0;

}

#about h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
}

#about p.lead {
    margin-bottom: 10rem;
}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 10;
}

#about .about-text {
    text-align: center;

}

#about .about-image img {
    display: block;
    margin-left: 40%;
    width: 50%;
    border-radius: 300;
    margin-top: 50px;
}

#contact {
    padding: 5rem 0;
}

#contact h2 {

    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

#contact h3 {
    text-align:center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 5rem;
}

#contact .form-box {
    background-color: chocolate;
    padding: 2rem;
    box-shadow: 2px 2px 5px #3f3f3f;
    border-radius: 10px;
}

#contact .form-group {
    margin-bottom: 2rem ;
}

#contact .form-group label{
    display: block;
    margin-bottom: 0.5;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

#contact .form-group input,
#contact .form-group textarea {
    width: 80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #fff;
    border-radius: 5px;
}

#contact .form-group textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
} 

#contact .contact-btn {
    width: 80%;
    margin-left: 10%;
    display:inline-block;
    padding: 1rem 3rem;
    border:none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: #fff;
    color: chocolate;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: background 0.3s;
}
#contact .contact-btn:hover {
    background: #fff;
}

#contact.form-container {
    position: relative;
}

#contact .mail-icon {
    font-size: 2rem;
    background: #3f3f3f;
    color: chocolate;
    display: inline-block;
    padding: 1.5rem 3rem;
    position: absolute;
    top: 171%;
    left: 43%;
}

footer {
    padding: 2rem;
    justify-content: space-between;
    background: #3f3f3f;
    color:chocolate;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #3f3f3f;
}

footer p {
    text-align: center;
    margin-top: 3rem;
}

#footer ul{
    display: flex ;
    align-items: center;
    list-style: none;
}

/*#footer li a{ 
    text-decoration: none;
    color: #3f3f3f;
    padding:0rem;
    font-size: 1.3rem;
    margin: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 15rem;
    margin-right: 4rem;
}
